<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
		<title>Registration and Login Apps</title>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
	</head>
		<body>
			
			<nav class= "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				<div class = "navbar-header">
					<button type="button" class="navbar-toggle-collapsed"
							data-toggle="collapse" data-target="#navbar" aria-expanded="false"
							aria-controls= "navbar">
						<span class="sr-only"> Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>	
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}">Registration and Login Module</a>
		
				</div>
				
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li sec:authorised="isAuthenticated()"><a th:href="@{/Logout}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<br>
		 <br>
		 
		<div class="container">
		 <div class="display-3">Welcome to this awesome and Beautiful App</div>
		 
		 
		 <div class="display-6">Registration and Login with Springboot, Spring Security, Thymeleaf, Hybernate, and MySQL</div>
		 
		 Welcome <span sec:authentication="principal.username">User</span>
		</div>
		
		
		
		
		
			<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
			<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
			<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
		</body>

</html>